<header>
  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo-new-clear.svg" class="img-fluid" style="width: 8rem;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/ako-na-vodu">Ako na vodu</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/rieky">Rieky</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/vylety">Výlety</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/galeria">Galéria</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/cennik">Cenník</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>
