* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  background-color: #fff;
}

body {
	color: rgb(32, 32, 37);
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}


main {
  margin-top: 120px;
}

